@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

            <div class="text-center">
                <h1 class="display-4">James Hoiby</h1>
                <h3>Software Development Services</h3>
                7255 E Snyder Rd</br>
                Unit 7204</br>
                Tucson, AZ 85750</br>
                520-870-5270</br>
                james@hoiby.com
            </div>